<!DOCTYPE html>

<html>
    <head>
        <meta name="viewport" content="width=device-width">
        <title>@ViewBag.Title</title>
    </head>
    <body>
        <div>
            <h2>Hello there!</h2>
            <h3>Content goes here</h3>
            @RenderBody()
        </div>
    </body>
</html>